@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Permanent+Marker&display=swap');
.container {
    margin-left: 0%;
    margin-right: 5%;
    height: fit-content;
    padding: 20px;
}

  
.col-25 {
    display: inline-block;
    width: 25%;
    margin-top: 36px;
    font-family: "Montserrat", sans-serif;
    vertical-align:top;
  }
  
.col-75 {
    display: inline-block;
    width: 75%;
    margin-top: 36px;
    vertical-align:top;
  }

  * {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
  }

  .proPic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  input[type=submit]:hover {
    background-color: greenyellow;
  }

.hiddenButton{
    display: none;
}

#changePic {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  color: #edf0f1;
  opacity: 0.4;
  font-weight: bold;
  font-size: 70%;
  background-color: #00004d;
  width: 250px;
  height: 20px; 
}

.changeInfo {
  font-family: "Montserrat", sans-serif;
  margin-top: 30px;
  color: #edf0f1;
  font-weight: bold;
  font-size: 103%;
  background-color: #00004d;
  width: 140px;
  height: 40px;
}

.warning-fade {
    opacity: 0;
    color: #c24133;
    font-size: 15px;
    animation-name: warning-animation;
    animation-duration:2s;
}


@keyframes warning-animation {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 100;
    }
}
